.searchBar{
    margin-top: 2rem;
    margin-left: 30%;
    margin-bottom: 4rem;;
    
}
#output{
    margin-top: 4rem;
}
.song{

}
.songImg{
    
}
#singerName{
   
    width: 50%;
}
.container{
    display: flex;
    flex-direction: row;

}
#heading{
    padding-top: 1.5rem;
}
#iconimg{

    width: 10%;
    border-radius: 50%;
}
.desc{
    margin-left: 5rem;
    margin-right: 5rem;
}